<div class="col-md-9 mx-auto mt-5">
    <% if (categories.length > 0) { %>
        <h1 class="mb-4 text-center">All Categories</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center custom-table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(function(category) { %>
                        <tr>
                            <td><%= category._id %></td>
                            <td><%= category.name %></td>
                            <td><%= category.description %></td>
                            <td class="text-center">
                                <img src="<%= category.image %>" alt="<%= category.name %>" class="img-fluid" style="width: 50px; height: 50px;">
                            </td>
                            <td>
                                <a href="/admin/categories/edit/<%= category._id %>" class="btn btn-sm btn-primary">Edit</a>
                            </td>
                            <td>
                                <a href="/admin/categories/delete/<%= category._id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between">
            <% if (currentPage > 1) { %>
                <a href="/admin/categories/Read/<%= currentPage - 1 %>" class="btn btn-secondary">Previous</a>
            <% } %>

            <span>Page <%= currentPage %> of <%= totalPages %></span>

            <% if (currentPage < totalPages) { %>
                <a href="/admin/categories/Read/<%= currentPage + 1 %>" class="btn btn-secondary">Next</a>
            <% } %>
        </div>
    <% } else { %>
        <h1 class="text-center">No Categories Yet</h1>
    <% } %>
</div>



<%- contentFor('style') %>
<style>
    .custom-table {
        border: 2px solid #041D35; 
    }

    .custom-table th,
    .custom-table td {
        border: 1px solid #041D35; 
    }

    .table th {
        background-color: #041D35; 
        color: #fff; 
    }

    .table-hover tbody tr:hover {
        background-color: #f2f2f2; 
    }

    .btn {
        font-size: 14px;
    }
</style>

